#my-journey {
  padding: 12px 72px 24px 72px;
}

.my-journey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.my-journey-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.my-journey-subtitle-text {
  color: var(--color-primary-600);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.my-journey-title-text {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 8px;
}

.my-journey-desc-text {
  color: rgb(110, 110, 110);
  font-size: 16px;
}

.my-journey-experience-grid,
.my-journey-volunteer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.my-journey-experience-left-column,
.my-journey-experience-right-column,
.my-journey-volunteer-left-column,
.my-journey-volunteer-right-column {
  display: flex;
  flex-direction: column;
}

.my-journey-experience-left-column,
.my-journey-volunteer-left-column {
  padding-right: 48px;
}

.my-journey-experience-right-column,
.my-journey-volunteer-right-column {
  padding-left: 48px;
}

.my-journey-experience-item,
.my-journey-volunteer-item {
  margin-bottom: 48px;
}

.my-journey-volunteer-item.right {
  margin-bottom: 36px;
}

.has-margin-top {
  margin-top: 20%;
}

.has-margin-top-volunteer {
  margin-top: 10%;
}

@media (max-width: 540px), (min-width: 550px) and (max-width: 1400px) {
  .has-margin-top {
    margin-top: 0 !important;
  }
}

.my-journey-experience-item.left::before,
.my-journey-volunteer-item.left::before {
  content: "";
  position: absolute;
  left: 49.3%;
  transform: translate(-50%);
  border-radius: 50% 20% 20% 50%;
  width: 24px;
  height: 24px;
  background-color: var(--color-primary-500);
  z-index: 2;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
}

.my-journey-experience-item.right::before,
.my-journey-volunteer-item.right::before {
  content: "";
  position: absolute;
  left: 50.7%;
  transform: translate(-50%);
  border-radius: 20% 50% 50% 20%;
  width: 24px;
  height: 24px;
  background-color: var(--color-primary-500);
  z-index: 2;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
}

.my-journey-experience-content,
.my-journey-volunteer-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
}

.my-journey-experience-header-container,
.my-journey-volunteer-header-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 16px;
}

.my-journey-sub-experience-header,
.my-journey-sub-volunteer-header {
  margin-bottom: 16px;
}

.my-journey-experience-image,
.my-journey-education-image,
.my-journey-certification-image,
.my-journey-volunteer-image,
.my-journey-honors-and-awards-image {
  width: 56px;
  height: 56px;
  border-radius: 16%;
  background-color: gray;
  border: 2px solid rgb(237, 237, 237);
}

.my-journey-experience-title,
.my-journey-education-title,
.my-journey-volunteer-title,
.my-journey-honors-and-awards-title {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.4;
}

.my-journey-experience-company,
.my-journey-education-degree,
.my-journey-volunteer-company {
  font-size: 16px;
  color: #4b4b4b;
  font-weight: 600;
  margin-bottom: 10px;
}

.my-journey-experience-duration,
.my-journey-volunteer-duration {
  color: #4b4b4b;
  font-size: 14px;
}

.my-journey-experience-date,
.my-journey-volunteer-date {
  color: #4b4b4b;
  font-size: 14px;
  margin-bottom: 8px;
}

.my-journey-experience-location,
.my-journey-volunteer-location {
  color: #4b4b4b;
  font-size: 14px;
  line-height: 160%;
}

.my-journey-experience-points,
.my-journey-education-points,
.my-journey-volunteer-points,
.my-journey-honors-and-awards-description,
.my-journey-honor-and-awards-points {
  list-style: none;
  counter-reset: point-counter;
  padding-left: 0;
  line-height: 200%;
  font-size: 14px;
  text-align: justify;
}

.my-journey-experience-points li,
.my-journey-education-points li,
.my-journey-volunteer-points li,
.my-journey-honor-and-awards-points li {
  counter-increment: point-counter;
  position: relative;
  padding-left: 20px;
}

.my-journey-experience-points li::before,
.my-journey-education-points li::before,
.my-journey-volunteer-points li::before,
.my-journey-honor-and-awards-points li::before {
  content: counter(point-counter) ")";
  position: absolute;
  left: 0;
  font-size: 14px;
  font-weight: 500;
}

.my-journey-experience-skills {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.my-journey-experience-skill-chip,
.my-journey-certification-skill-chip {
  padding: 8px 16px;
  border-radius: 24px;
  font-size: 14px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: gray;
}

.my-journey-experience-skill-chip:hover,
.my-journey-certification-skill-chip:hover {
  color: black;
}

.my-journey-sub-experience-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.my-journey-education-container,
.my-journey-honors-and-awards-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.my-journey-education-item,
.my-journey-honors-and-awards-item {
  padding: 24px;
  border-radius: 16px;
  width: 56%;
}

.my-journey-education-header-container,
.my-journey-honors-and-awards-header-container {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.my-journey-education-grade,
.my-journey-honors-and-awards-date {
  color: #4b4b4b;
  font-size: 14px;
}

.my-journey-education-duration,
.my-journey-honors-and-awards-issued-by {
  color: #4b4b4b;
  font-size: 14px;
  margin-bottom: 8px;
}

.my-journey-education-activities {
  line-height: 200%;
  font-size: 14px;
  text-align: justify;
}

.my-journey-certification-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 24px;
  min-height: 559.8px;
}

.my-journey-certification-item {
  padding: 24px;
  border-radius: 16px;
  height: fit-content;
}

.my-journey-certification-header-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 12px;
}

.my-journey-certification-title {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 160%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;

  cursor: pointer;
}

.my-journey-certification-title:hover::before {
  content: attr(data-full-text);

  position: absolute;
  top: 56px;
  left: 96px;

  max-width: 64%;
  margin-top: 4px;
  padding: 8px 12px;
  padding-left: 36px;
  border-radius: 6px;

  background-color: var(--color-info);
  background-image: url("../../assets/icons/ic_info.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  white-space: pre-wrap;

  pointer-events: auto;
  cursor: pointer;
}

.my-journey-certification-detail-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.my-journey-certification-issuer,
.my-journey-certification-dates,
.my-journey-certification-id {
  font-size: 14px;
  color: gray;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;
}

.my-journey-certification-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 4px;
  border-radius: 999px;
  gap: 8px;

  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary-500);
  text-decoration: none;

  background: rgba(255, 255, 255, 0.2);

  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}

.my-journey-certification-button:hover {
  background-color: rgba(61, 77, 69, 0.08);
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.025);
}

.my-journey-certification-button-icon {
  width: 12px;
  height: 12px;
}

.my-journey-certification-button-space {
  height: 37.5px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.my-journey-certification-skills-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.my-journey-certification-skills-scroll::-webkit-scrollbar {
  display: none;
}

.my-journey-certification-skills {
  display: flex;
  font-size: 13px;
  gap: 12px;
  color: #555;
}

.my-journey-certification-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.my-journey-certification-pagination-btn {
  background-color: #6b8f8f;
  color: white;
  display: flex;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.1s ease-in-out background-color 0.2s ease;
}

.my-journey-certification-pagination-btn:hover {
  background-color: var(--color-primary-600);
  cursor: pointer;
  transform: scale(1.025);
}

.my-journey-certification-pagination-btn.is-disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.my-journey-certification-pagination-page {
  display: flex;
  width: 100px;
  gap: 8px;
  justify-content: center;
  align-items: baseline;
  font-weight: 600;
  font-size: 18px;
}

.my-journey-certification-pagination-current,
.my-journey-certification-pagination-total {
  display: flex;
  font-size: 20px;
  width: 32px;
  justify-content: center;
}

.my-journey-certification-pagination-of {
  font-weight: 400;
  font-size: 16px;
}

.my-journey-certification-pagination-icon {
  width: 24px;
  height: 24px;
}

.my-journey-gradient-fade {
  position: relative;
  margin-top: -160px;
  height: 160px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    var(--color-background, black) 75%
  );
  z-index: 3;
  pointer-events: none;
}

.my-journey-show-more-btn-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.my-journey-show-btn {
  background: var(--color-primary-500);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 16px 16px;
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.4);
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  animation: floatUpDown 5s ease-in-out infinite;
}

.my-journey-button-show-icon {
  width: 20px;
  height: 20px;
}

.my-journey-show-btn:hover {
  background: var(--color-primary-600);
  transform: scale(1.025);
}

.my-journey-show-btn:active {
  transform: scale(0.95);
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Mobile */
@media (max-width: 540px) {
  #my-journey {
    padding: 0px 24px 24px 24px;
  }
  .my-journey-container {
    gap: 24px;
  }
  .my-journey-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .my-journey-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .my-journey-experience-grid,
  .my-journey-volunteer-grid {
    display: flex;
    flex-direction: column;
  }
  .my-journey-experience-left-column,
  .my-journey-experience-right-column,
  .my-journey-volunteer-left-column,
  .my-journey-volunteer-right-column {
    padding: 0;
  }
  .my-journey-experience-right-column,
  .my-journey-volunteer-right-column {
    margin-top: 0;
  }
  .my-journey-experience-item,
  .my-journey-volunteer-item {
    margin-bottom: 32px;
  }
  .my-journey-experience-item.left::before,
  .my-journey-experience-item.right::before,
  .my-journey-volunteer-item.left::before,
  .my-journey-volunteer-item.right::before {
    left: 0;
    transform: none;
    border-radius: 20% 50% 50% 20%;
  }
  .my-journey-experience-content,
  .my-journey-volunteer-content {
    margin-left: 40px;
  }
  .my-journey-experience-title,
  .my-journey-education-title,
  .my-journey-certification-title,
  .my-journey-volunteer-title,
  .my-journey-honors-and-awards-title {
    font-size: 16px;
  }
  .my-journey-desc-text {
    text-align: center;
    line-height: 1.6;
  }
  .my-journey-experience-company,
  .my-journey-education-degree,
  .my-journey-volunteer-company {
    font-size: 14px;
  }
  .my-journey-subtitle-text,
  .my-journey-desc-text,
  .my-journey-experience-skill-chip,
  .my-journey-certification-skill-chip,
  .my-journey-experience-date,
  .my-journey-experience-points li,
  .my-journey-experience-points li::before,
  .my-journey-experience-location,
  .my-journey-education-duration,
  .my-journey-education-grade,
  .my-journey-education-activities,
  .my-journey-education-points li,
  .my-journey-education-points li::before,
  .my-journey-certification-issuer,
  .my-journey-certification-dates,
  .my-journey-certification-id,
  .my-journey-certification-button,
  .my-journey-volunteer-duration,
  .my-journey-volunteer-date,
  .my-journey-volunteer-location,
  .my-journey-volunteer-points,
  .my-journey-volunteer-points li,
  .my-journey-volunteer-points li::before,
  .my-journey-honors-and-awards-issued-by,
  .my-journey-honors-and-awards-date,
  .my-journey-honors-and-awards-description,
  .my-journey-honors-and-awards-points,
  .my-journey-honor-and-awards-points li,
  .my-journey-honor-and-awards-points li::before {
    font-size: 12px;
  }
  .my-journey-education-item,
  .my-journey-honors-and-awards-item {
    width: 100%;
  }
  .my-journey-show-btn {
    font-size: 14px;
  }
  .my-journey-gradient-fade {
    margin-top: -80px;
    height: 80px;
  }
  .my-journey-certification-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    min-height: 0px;
    place-content: start center;
  }
  .my-journey-certification-button-space {
    height: 35px;
  }
  .my-journey-certification-item {
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1400px) {
  #my-journey {
    padding: 0px 24px 24px 24px;
  }
  .my-journey-container {
    gap: 24px;
  }
  .my-journey-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .my-journey-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .my-journey-experience-grid,
  .my-journey-volunteer-grid {
    display: flex;
    flex-direction: column;
  }
  .my-journey-experience-left-column,
  .my-journey-experience-right-column,
  .my-journey-volunteer-left-column,
  .my-journey-volunteer-right-column {
    padding: 0;
  }
  .my-journey-experience-right-column,
  .my-journey-volunteer-right-column {
    margin-top: 0;
  }
  .my-journey-experience-item,
  .my-journey-volunteer-item {
    margin-bottom: 32px;
  }
  .my-journey-experience-item.left::before,
  .my-journey-experience-item.right::before,
  .my-journey-volunteer-item.left::before,
  .my-journey-volunteer-item.right::before {
    left: 0;
    transform: none;
    border-radius: 20% 50% 50% 20%;
  }
  .my-journey-experience-content,
  .my-journey-volunteer-content {
    margin-left: 40px;
  }
  .my-journey-experience-title,
  .my-journey-education-title,
  .my-journey-volunteer-title,
  .my-journey-honors-and-awards-title {
    font-size: 16px;
  }
  .my-journey-desc-text {
    text-align: center;
    line-height: 1.6;
  }
  .my-journey-experience-company,
  .my-journey-education-degree,
  .my-journey-volunteer-company {
    font-size: 14px;
  }
  .my-journey-subtitle-text,
  .my-journey-desc-text,
  .my-journey-experience-skill-chip,
  .my-journey-certification-skill-chip,
  .my-journey-experience-date,
  .my-journey-experience-points li,
  .my-journey-experience-points li::before,
  .my-journey-experience-location,
  .my-journey-education-duration,
  .my-journey-education-grade,
  .my-journey-education-activities,
  .my-journey-education-points li,
  .my-journey-education-points li::before,
  .my-journey-volunteer-duration,
  .my-journey-volunteer-date,
  .my-journey-volunteer-location,
  .my-journey-volunteer-points,
  .my-journey-volunteer-points li,
  .my-journey-volunteer-points li::before,
  .my-journey-honors-and-awards-issued-by,
  .my-journey-honors-and-awards-date,
  .my-journey-honors-and-awards-description,
  .my-journey-honors-and-awards-points,
  .my-journey-honor-and-awards-points li,
  .my-journey-honor-and-awards-points li::before {
    font-size: 12px;
  }
  .my-journey-education-item .my-journey-honors-and-awards-item {
    width: 100%;
  }
  .my-journey-show-btn {
    font-size: 14px;
  }
  .my-journey-gradient-fade {
    margin-top: -80px;
    height: 80px;
  }
}

[data-theme="dark"] {
  .my-journey-experience-title,
  .my-journey-experience-company,
  .my-journey-experience-date,
  .my-journey-experience-location,
  .my-journey-experience-points li,
  .my-journey-education-title,
  .my-journey-education-degree,
  .my-journey-education-duration,
  .my-journey-education-grade,
  .my-journey-education-points li,
  .my-journey-certification-issuer,
  .my-journey-certification-dates,
  .my-journey-certification-id,
  .my-journey-certification-button,
  .my-journey-volunteer-title,
  .my-journey-volunteer-company,
  .my-journey-volunteer-date,
  .my-journey-volunteer-location,
  .my-journey-volunteer-points li,
  .my-journey-honors-and-awards-title,
  .my-journey-honors-and-awards-issued-by,
  .my-journey-honors-and-awards-date,
  .my-journey-honors-and-awards-description,
  .my-journey-honors-and-awards-points,
  .my-journey-honor-and-awards-points li {
    color: white;
  }
  .my-journey-subtitle-text {
    color: var(--color-primary-100);
  }
  .my-journey-desc-text {
    color: gainsboro;
  }
  .my-journey-experience-skill-chip:hover,
  .my-journey-certification-skill-chip:hover {
    color: white;
  }
  .my-journey-experience-skill-chip,
  .my-journey-certification-skill-chip {
    color: gainsboro;
  }
  .my-journey-show-btn,
  .my-journey-experience-item.left::before,
  .my-journey-experience-item.right::before,
  .my-journey-certification-pagination-btn,
  .my-journey-volunteer-item.left::before,
  .my-journey-volunteer-item.right::before {
    background: var(--color-primary-400);
  }
  .my-journey-experience-item.left::before,
  .my-journey-experience-item.right::before,
  .my-journey-certification-pagination-btn,
  .my-journey-volunteer-item.left::before,
  .my-journey-volunteer-item.right::before {
    border: 2px solid rgba(160, 176, 168, 0.1);
  }
  .my-journey-certification-title:hover::before {
    background-color: var(--color-info);
  }
  .my-journey-certification-pagination-btn.is-disabled {
    background: rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
  }
}
