.bottom-nav-wrapper {
  position: fixed;
  bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 998;
  pointer-events: none;
}

.floating-bottom-nav {
  border-radius: 16px;
  padding: 16px 24px;
  display: flex;
  gap: 24px;
  pointer-events: auto;
  cursor: pointer;
}

.floating-bottom-nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: gray;
}

.floating-bottom-nav-icon:hover {
  color: black;
  transform: scale(1.2);
}

/* Mobile */
@media (max-width: 540px) {
  .floating-bottom-nav {
    padding: 12px 20px;
    gap: 20px;
  }
  .floating-bottom-nav-icon {
    width: 20px;
    height: 20px;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1400px) {
  .floating-bottom-nav {
    padding: 12px 20px;
    gap: 20px;
  }
  .floating-bottom-nav-icon {
    width: 20px;
    height: 20px;
  }
}

[data-theme="dark"] {
  .floating-bottom-nav-icon {
    color: #cacaca;
  }
  .floating-bottom-nav-icon:hover {
    color: white;
  }
}
