#testimonials {
  padding: 0px 72px 24px 72px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.testimonials-subtitle-text {
  color: var(--color-primary-600);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.testimonials-title-text {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 8px;
}

.testimonials-desc-text {
  color: rgba(110, 110, 110);
  font-size: 16px;
}

/* Wrapper */
.testimonials-slider {
  width: 80%;
  overflow: hidden;
  position: relative;
  padding: 48px 24px;
}

.testimonials-track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: scroll-left 30s linear infinite;
  will-change: transform;
}

.testimonials-slider:hover .testimonials-track {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonial-card {
  display: flex;
  width: 240px;
  height: 440px;
  border-radius: 16px;
  padding: 24px;
  flex-shrink: 0;
  gap: 8px;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.testimonial-card:hover {
  transform: rotate(-2deg) scale(1.05);
  border: 2px solid white;
}

/* Avatar */
.testimonial-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.testimonial-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.testimonial-role {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 12px;
  color: rgba(110, 110, 110);
}

.testimonial-text {
  font-size: 14px;
  line-height: 2;
  opacity: 0.9;
}

/* Mobile */
@media (max-width: 540px) {
  #testimonials {
    padding: 0px 24px 24px 24px;
  }
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .testimonials-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .testimonials-subtitle-text,
  .testimonials-desc-text {
    font-size: 12px;
  }
  .testimonials-desc-text {
    text-align: center;
    line-height: 1.6;
  }
  .testimonials-track {
    width: 100%;
    overflow-x: scroll;
    animation: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding: 40px 24px 24px 24px;
  }
  .testimonials-track::-webkit-scrollbar {
    display: none;
  }
  .testimonials-slider {
    width: 100%;
    padding: 0px;
  }
  .testimonial-card {
    scroll-snap-align: center;
    margin: 0 auto;
  }
  .testimonial-card.active {
    transform: scale(1.075);
    border: 2px solid white;
  }
  .testimonial-card:hover {
    transform: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
  }
  .testimonial-name {
    font-size: 16px;
  }
  .testimonial-role,
  .testimonial-text {
    font-size: 12px;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1400px) {
  #testimonials {
    padding: 0px 24px 24px 24px;
  }
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .testimonials-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .testimonials-subtitle-text,
  .testimonials-desc-text {
    font-size: 12px;
  }
  .testimonials-desc-text {
    text-align: center;
    line-height: 1.6;
  }
  .testimonials-slider {
    width: 100%;
    padding: 40px 24px 24px 24px;
  }
  .testimonial-name {
    font-size: 16px;
  }
  .testimonial-role,
  .testimonial-text {
    font-size: 12px;
  }
}

[data-theme="dark"] {
  .testimonials-title-text,
  .testimonial-name {
    color: white;
  }
  .testimonials-subtitle-text {
    color: var(--color-primary-100);
  }
  .testimonials-desc-text,
  .testimonial-role {
    color: gainsboro;
  }
}
