@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color-scheme: light dark;
  cursor: default;
  background-color: var(--color-background);
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root[data-theme="light"] {
  --color-primary-100: #fffff9;
  --color-primary-200: #eeefe0;
  --color-primary-300: #d1d8be;
  --color-primary-400: #a7c1a8;
  --color-primary-500: #819a91;
  --color-primary-600: #6a867e;
  --color-primary-700: #566e68;
  --color-primary-800: #435752;
  --color-primary-900: #2f3f3c;

  --color-info: #5d7e96;
  --color-error: #c75d5d;
  --color-warning: #d4a24c;
  --color-success: #6a9d68;

  --color-background: #f5f5f5;
}

[data-theme="dark"] {
  color-scheme: only dark;
  --color-primary-100: #a0b0a8;
  --color-primary-200: #5d6e66;
  --color-primary-300: #3d4d45;
  --color-primary-400: #2a332f;
  --color-primary-500: #1a1f1d;
  --color-primary-600: #181c1b;
  --color-primary-700: #131716;
  --color-primary-800: #0f1312;
  --color-primary-900: #0b0e0e;

  --color-info: #4a6272;
  --color-error: #a84e4e;
  --color-warning: #b68b3e;
  --color-success: #577d55;

  --color-background: #0b0e0e;

  .glass-effect {
    background: rgba(26, 31, 29, 0.2);
    border: 2px solid rgba(160, 176, 168, 0.1);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  }
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
}

.backdrop-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
