#tech-stack {
  padding: 0px 72px 24px 72px;
}

.tech-stack-container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.tech-stack-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tech-stack-subtitle-text {
  color: var(--color-primary-600);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.tech-stack-title-text {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 8px;
}

.tech-stack-desc-text {
  color: rgba(110, 110, 110);
  font-size: 16px;
}

.tech-stack-tabs {
  display: flex;
  gap: 24px;
  border-radius: 40px;
  padding: 12px 12px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.03);
  justify-content: center;
  position: relative;
}

.tech-stack-tab-btn {
  position: relative;
  background: transparent;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: color 0.3s;
  z-index: 1;
}

.tech-stack-tab-btn.active {
  background: transparent;
  color: white;
  z-index: 2;
  box-shadow: none;
}

.tech-stack-tab-indicator-pill {
  position: absolute;
  height: 80%;
  top: 10%;
  border-radius: 40px;
  background: var(--color-primary-500);
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

/* Mobile */
@media (max-width: 540px) {
  #tech-stack {
    padding: 0px 24px 24px 24px;
  }
  .tech-stack-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .tech-stack-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .tech-stack-subtitle-text,
  .tech-stack-desc-text {
    font-size: 12px;
  }
  .tech-stack-desc-text {
    text-align: center;
    line-height: 1.6;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1400px) {
  #tech-stack {
    padding: 0px 24px 24px 24px;
  }
  .tech-stack-container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: fit-content;
  }
  .tech-stack-header-container {
    padding: 0px 24px;
    gap: 8px;
  }
  .tech-stack-title-text {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .tech-stack-subtitle-text,
  .tech-stack-desc-text {
    font-size: 12px;
  }
  .tech-stack-desc-text {
    text-align: center;
    line-height: 1.6;
  }
}

[data-theme="dark"] {
  .tech-stack-title-text {
    color: white;
  }
  .tech-stack-subtitle-text {
    color: var(--color-primary-100);
  }
  .tech-stack-desc-text {
    color: gainsboro;
  }
}
