.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  margin: 24px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}

[data-theme="night"] .navbar-title {
  color: white;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: black;
  background: none;
  border: none;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  gap: 32px;
}

.navbar-item {
  list-style: none;
  cursor: pointer;
  color: black;
  transition: transform 0.1s ease-in-out;
}

[data-theme="night"] .navbar-item {
  color: white;
}

.navbar-item.active {
  background-color: var(--color-primary-500);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  transform: scale(1.025);
}

[data-theme="night"] .navbar-item.active {
  background-color: var(--color-primary-300);
}

.navbar-item:active {
  transform: scale(0.95);
}

.navbar-toggle-theme {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-menu.open {
    display: flex;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.theme-toggle input {
  display: none;
}

.toggle-slider {
  display: flex;
  width: 72px;
  height: 32px;
  background-color: var(--color-primary-300);
  border-radius: 8px;
  align-items: center;
  transition: background-color 0.3s;
  overflow: visible;
}

.toggle-knob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

[data-theme="night"] .toggle-knob {
  background-color: var(--color-primary-200);
}

.theme-toggle input:checked + .toggle-slider .toggle-knob {
  transform: translateX(32px);
}

.theme-toggle input:checked + .toggle-slider {
  background-color: var(--color-primary-400);
}
