.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  margin: 24px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}

section[id] {
  scroll-margin-top: 120px;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.1s ease-in-out;
}

.navbar-icon:active {
  transform: scale(0.95);
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: black;
  background: none;
  border: none;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  gap: 32px;
}

.navbar-item {
  list-style: none;
  cursor: pointer;
  color: black;
  transition: transform 0.1s ease-in-out;
}

.navbar-item.active {
  background-color: var(--color-primary-500);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  transform: scale(1.025);
}

.navbar-item:active {
  transform: scale(0.95);
}

.navbar-toggle-theme {
  cursor: pointer;
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.theme-toggle input {
  display: none;
}

.toggle-slider {
  display: flex;
  width: 72px;
  height: 32px;
  background-color: var(--color-primary-300);
  border-radius: 8px;
  align-items: center;
  transition: background-color 0.3s;
  overflow: visible;
}

.toggle-knob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.theme-toggle input:checked + .toggle-slider .toggle-knob {
  transform: translateX(32px);
}

.theme-toggle input:checked + .toggle-slider {
  background-color: var(--color-primary-400);
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1001;
  width: 75%;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mobile-sidebar::-webkit-scrollbar {
  display: none;
}

.mobile-sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.sidebar-header h2 {
  font-size: 16px;
}

.close-button {
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 999;
}

.sidebar-item {
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  transition: transform 0.1s ease-in-out;
}

.sidebar-item-theme-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 20px;
  color: black;
  font-size: 16px;
  transition: transform 0.1s ease-in-out;
}

.sidebar-item.active {
  font-weight: 600;
  background-color: var(--color-primary-500);
  color: white;
  padding: 16px 24px;
  border-radius: 12px;
  transform: scale(1.015);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Mobile */
@media (max-width: 540px) {
  section[id] {
    scroll-margin-top: 95px;
  }
  .navbar-container {
    margin: 20px 32px;
  }
  .navbar-title {
    font-size: 16px;
  }
  .navbar-menu {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-menu.open {
    display: flex;
  }
  .navbar-icon {
    width: 20px;
    height: 20px;
  }
  .sidebar-item,
  .theme-toggle-text {
    font-size: 14px;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1400px) {
  section[id] {
    scroll-margin-top: 95px;
  }
  .navbar-container {
    margin: 20px 32px;
  }
  .navbar-title {
    font-size: 16px;
  }
  .navbar-menu {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-menu.open {
    display: flex;
  }
  .navbar-icon {
    width: 20px;
    height: 20px;
  }
  .sidebar-item,
  .theme-toggle-text {
    font-size: 14px;
  }
}

[data-theme="dark"] {
  .navbar-title,
  .navbar-item,
  .sidebar-item,
  .theme-toggle-text,
  .sidebar-header,
  .close-button,
  .navbar-toggle,
  .navbar-icon,
  .sidebar-item {
    color: white;
  }
  .navbar-item.active,
  .toggle-knob {
    background-color: var(--color-primary-400);
  }
  .theme-toggle input:checked + .toggle-slider {
    background-color: var(--color-primary-500);
  }
  .mobile-sidebar {
    background-color: #1e1e1e;
  }
}
